<li class="project">
  <section class="project">
    <div class="cover">
      <a class="no-decor" href="{{ .Permalink }}">
        {{- with .Params.cover }}
        <img src="/img/projects/{{ $.File.BaseFileName }}/{{ . }}">
        {{- end }}
      </a>
    </div>
    <header>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <!-- <h2 class="meta">{{ .Date.Format .Site.Params.datedayfmt }}</h2> -->
    </header>
    <section class="summary">
      {{ .Summary }}
    </section>
  </section>
</li>
