{{ partial "header.html" . }}
<main class="wrap">
  <article class="project">
    <header>
      <h1 class="page-title">{{ .Title }}</h1>
      {{- with .Params.subtitle }}<h2 class="subtitle">{{ . }}</h2>{{ end }}
    </header>

    <section class="content">
      {{ .Content }}
    </section>

    {{- with .Params.bibliography }}
      {{ partial "bib/section.html" (dict "title" "Relevant Publications" "items" . "Page" $.Page "Site" $.Site) }}
    {{- end }}
  </article>
</main>
{{ partial "footer.html" . }}
