<li class="person">
  <section id="{{ .File.TranslationBaseName | urlize }}" class="vcard">
    {{- if or (isset .Params "badge") (isset .Params "portrait") }}
      <div class="portrait">
        <a class="no-decor" href="{{ .RelPermalink }}">
          <img src="/img/people/{{ .Params.badge | default .Params.portrait }}">
        </a>
      </div>
    {{- end }}
    <div class="record">
      <div class="name">
        <a class="no-visited" href="{{ .RelPermalink }}">{{ .Params.name }}</a>
      </div>
      <div class="status">{{ .Params.status }}</div>
      {{- with .Params.yearjoined }}
        <div class="years">{{ partial "people/yearrange.html" $.Params }}</div>
      {{- end }}
      {{- if and (hasPrefix .Params.role "alumnus") (isset .Params "websites") }}
        {{- with index .Params.websites 0 }}
          <div class="website">
            <a href="{{ .url }}" target="_blank" rel="noopener">Website</a>
          </div>
        {{- end }}
      {{- end }}
    </div>
  </section>
</li>
