<li class="person">
  <section id="{{ .File.TranslationBaseName | urlize }}" class="vcard">
    {{- if or (isset .Params "badge") (isset .Params "portrait") }}
      <div class="portrait">
        <a class="no-decor" href="{{ .RelPermalink }}">
          <img src="/img/people/{{ .Params.badge | default .Params.portrait }}">
        </a>
      </div>
    {{- end }}
    <div class="record">
      {{- with .Params.name }}
        <div class="name">
          <a class="no-visited" href="{{ $.RelPermalink }}">
            {{- partial "people/displayname.html" (dict "name" .) -}}
          </a>
        </div>
      {{- end }}
      {{- with .Params.status }}<div class="status">{{ . }}</div>{{ end }}
      {{- with .Params.yearjoined }}
        <div class="years">
          {{- partial "people/yearrange.html" (dict "person" $.Params "params" $.Site.Params.people) -}}
        </div>
      {{- end }}
      {{- if index $.Site.Params "people" "roles" .Params.role "featurewebsite" }}
        {{- with .Params.websites }}
          {{- with index . 0 }}
            <div class="website">
              <a href="{{ .url }}" target="_blank" rel="noopener">Website</a>
            </div>
          {{- end }}
        {{- end }}
      {{- end }}
    </div>
  </section>
</li>
