{{ partial "header.html" . }}
<main class="wrap">
  <article class="person">
    <section class="profile">
      {{- with .Params.portrait }}
        <div class="portrait">
          <img src="/img/people/{{ . }}" />
        </div>
      {{- end }}
      <div class="resume">
        <div class="name">
          <h1 class="page-title">{{ .Params.name }}</h1>
        </div>
        <section class="status">
          {{- .Params.status -}}
          {{- with .Params.yearjoined -}}
            <span class="years">{{ partial "people/yearrange.html" $.Params }}</span>
          {{- end -}}
        </section>

        {{- with .Params.interests }}
          <section class="interests">
            <span class="label">Research Interests:</span>
            <ul class="interests">
              {{ range . }}<li>{{ . }}</li>{{ end }}
            </ul>
          </section>
        {{- end }}

        {{- with .Params.education }}
          <section class="education">
            <span class="label">Education:</span>
            <ul class="education">
              {{- range . }}
                <li>
                  <div class="year">{{ .year }}</div>
                  <div class="record">
                    <div class="degree">{{ .degree }}</div>
                    <div class="institution">{{ .institution }}</div>
                  </div>
                </li>
              {{- end }}
            </ul>
            {{ with $.Params.resume -}}
              {{- if findRE `^\w+://` . 1 -}}
                <a class="resume" href="{{ . }}" target="_blank" rel="noopener">Full Resume</a>
              {{- else -}}
                {{- $path := printf "/dl/people/%s/%s" $.File.TranslationBaseName . -}}
                {{- if printf "static/%s" $path | fileExists -}}
                  <a class="resume" href="{{ $path }}">Full Resume</a>
                {{- end -}}
              {{- end -}}
            {{- end }}
          </section>
        {{- end }}

        {{- if or (isset .Params "email") (isset .Params "website") }}
          <section class="contacts">
            {{- with .Params.email }}
              <div class="email">
                <span class="label">Email:</span>
                <a class="email" href="mailto:{{ $.Params.name }} <{{ . }}>">{{ . }}</a>
              </div>
            {{- end }}
            {{- with .Params.websites }}
              <div class="websites">
                <span class="label">
                  Website{{ if gt (len .) 1 }}s{{ end }}:
                </span>
                <span class="list">
                  {{- range . -}}
                    {{- $text := .title | default (.url | replaceRE "^https?://" "") -}}
                    <span><a href="{{ .url }}" target="_blank" rel="noopener">{{ $text }}</a></span>
                  {{- end -}}
                </span>
              </div>
            {{- end }}
            {{- with .Params.address }}
              <div class="address">
                <span class="label">Mailing Address:</span>
                <div class="value">{{ . | markdownify }}</div>
              </div>
            {{- end }}
          </section>
        {{- end }}
      </div>
    </section>

    <section class="content">
      {{ .Content }}
    </section>

    {{- with .Params.bibliography }}
      {{ partial "bib/section.html" (dict "title" "Publications" "items" . "Page" $.Page "Site" $.Site) }}
    {{- end }}
  </article>
</main>
{{ partial "footer.html" . }}
