{{- $islocal := partial "bib/isentryonpage" (dict "id" .id "Page" .Page) -}}
{{- if not $islocal -}}
  {{- $isglobal := false -}}
  {{- with .Page.Site.GetPage "/publications" -}}
    {{- if ne .File.UniqueID $.Page.File.UniqueID -}}
      {{- $isglobal = partial "bib/isentryonpage" (dict "id" $.id "Page" .) -}}
    {{- end -}}
  {{- end -}}
  {{- if not $isglobal -}}
    {{- warnf "Missing bibliography entry for citation reference %q in file %q" .id .Page.File.Path -}}
  {{- end -}}
{{- end -}}

{{- if $islocal -}}
  {{- $.Page.RelPermalink -}}
{{- else -}}
  /publications/
{{- end -}}
#{{ .id | urlize -}}
