{{- $entrykindattr := .entry.kind | htmlEscape -}}
<li class="{{ $entrykindattr }}{{ with .mark }} {{ . }}{{ end }}" data-bib-kind="{{ $entrykindattr }}">{{ "" -}}
<section id="{{ .entry.id | urlize }}" class="bibentry {{ $entrykindattr }}">

  {{- partialCached "bib/entry/index.html" (dict "entry" .entry "params" $.Page.Site.Params.bibliography) .entry.cacheid -}}

  {{- partialCached "bib/entry/citation.html" (dict "entry" .entry "params" $.Page.Site.Params.bibliography "peopleindex" $.peopleindex "Site" $.Page.Site) .entry.cacheid -}}

  {{- " " -}}
  <span class="extras">
    {{- partialCached "bib/entry/extras.html" (dict "entry" .entry "class" "item" "params" $.Page.Site.Params.bibliography "Site" $.Page.Site) .entry.cacheid -}}
    <span class="item linkhere"><a href="{{ .Page.RelPermalink }}#{{ .entry.id | urlize }}">¶</a></span>
  </span>{{ "" -}}

  <div class="appendix">
    {{- partialCached "bib/entry/appendix.html" (dict "entry" .entry "class" "item") .entry.cacheid -}}
  </div>

</section>{{ "" -}}
</li>{{ "" -}}
