{{- $id := .entry.id | urlize -}}
{{- $kind := .entry.kind | htmlEscape -}}
{{- $params := $.Page.Site.Params.bibliography -}}

<li class="{{ $kind }}{{ with .mark }} {{ htmlEscape . }}{{ end }}" data-bib-kind="{{ $kind }}">{{ "" -}}
<section id="{{ $id }}" class="bibentry {{ $kind }}">

  {{- partialCached "bib/entry/index.html" (dict "entry" .entry "params" $params) .entry.cacheid -}}

  {{- partialCached "bib/entry/citation.html" (dict "entry" .entry "params" $params "peopleindex" $.peopleindex "Site" $.Page.Site) .entry.cacheid -}}

  {{- " " -}}
  <span class="extras">
    {{- partialCached "bib/entry/extras.html" (dict "entry" .entry "class" "item" "params" $params "Site" $.Page.Site) .entry.cacheid -}}
    <span class="item linkhere"><a href="{{ .Page.RelPermalink }}#{{ $id }}">¶</a></span>
  </span>{{ "" -}}

  <div class="appendix">
    {{- partialCached "bib/entry/appendix.html" (dict "entry" .entry "class" "item") .entry.cacheid -}}
  </div>

</section>{{ "" -}}
</li>{{ "" -}}
