{{- $citemode := eq .mode "citation" -}}
{{- $len := len .names -}}
{{- $lastidx := sub $len 1 -}}
{{- $hasetal := gt $len .params.etalcutoff -}}
{{- $etallabel := "et&nbsp;al." | safeHTML -}}

{{- range $idx, $author := .names -}}
  {{- $fullname := partial "bib/getfullname" $author -}}
  {{- $isothers := and (eq $author.last $fullname) (eq $fullname "others") -}}
  {{- $insideetal := and $hasetal (ge $idx $.params.etalkeep) -}}

  {{- if or (not $insideetal) (and $insideetal (not $citemode)) -}}
    {{- if gt $idx 0 -}}
      {{- if eq $idx $lastidx -}}
        {{- if gt $lastidx 1 }}{{ "," }}{{ end -}}
        {{- if not $isothers }}{{ " and" }}{{ end -}}
      {{- else -}}
        {{- "," -}}
      {{- end -}}
      {{- " " -}}
    {{- end -}}
    {{- if and (not $citemode) $hasetal (eq $idx $.params.etalkeep) -}}
      <span class="etal">{{ "" -}}
        <a role="button" onclick="bib.displayEtAlNames(this)">{{ $etallabel }}</a>{{ "" -}}
        <span class="content">{{ " " -}}
    {{- end -}}

    <span class="name"{{ if and (not $citemode) (not $.params.fullnames) }} title="{{ $fullname }}"{{ end }}>
      {{- $authorurl := "" -}}
      {{- if and (not $citemode) (not $isothers) -}}
        {{- $isourown := true -}}
        {{- with index $.peoplepages $fullname -}}
          {{- $authorurl = .RelPermalink -}}
        {{- else -}}
          {{- with $.params.collaborators -}}
            {{- with where . "name" $fullname -}}
              {{- $authorurl = (index . 0).url -}}
              {{- $isourown = false -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- with $authorurl -}}
          <a href="{{ . }}" class="subtle"{{ if not $isourown}} target="_blank" rel="noopener"{{ end }}>
        {{- end -}}
      {{- end -}}

      {{- if and (index $author "first") (or (not $citemode) $.params.citefirstnames) -}}
        {{- if $.params.fullnames -}}
          {{- with $author.first }}{{ . }}{{ end -}}
          {{- with $author.middle -}}
            {{- range split . " " -}}
              &nbsp;{{ . }}{{ if eq (countrunes .) 1 }}{{ "." }}{{ end -}}
            {{- end -}}
          {{- end -}}
          {{- " " -}}
        {{- else -}}
          {{- range $i, $name := split $author.first "-" -}}
            {{- if gt $i 0 }}{{ "-" }}{{ end -}}
            {{- substr $name 0 1 }}{{ "." -}}
          {{- end -}}
          {{- with $author.middle -}}
            {{- range split . " " -}}
              &nbsp;{{ substr . 0 1 }}{{ "." -}}
            {{- end -}}
          {{- end -}}
          &nbsp;
        {{- end -}}
      {{- end -}}
      {{- if $isothers -}}
        {{- $etallabel -}}
      {{- else -}}
        {{- with $author.last }}{{ . }}{{ end -}}
        {{- with $author.lineage }}{{ ", " }}{{ . }}{{ end -}}
      {{- end -}}

      {{- if $authorurl }}</a>{{ end -}}
    </span>
  {{- end -}}
{{- end -}}

{{- if $hasetal -}}
  {{- if $citemode -}}
    {{- ", " }}<span class="etal name">{{ $etallabel }}</span>
  {{- else -}}
      </span>{{- /* class="content" */ -}}
    </span>{{- /* class="etal" */ -}}
  {{- end -}}
{{- end -}}
