{{- $peoplepages := partial "bib/getpeoplepages" . -}}
<section class="bibliography">
  <header>
    {{ with .title }}<h1>{{ . }}</h1>{{ else }}<div></div>{{ end }}
    <div class="controls-anchor">
      <div class="controls{{ if .shiftcontrolsup }} heading-margin-shift{{ end }}">
        <input id="ctl-bib-filter-input" class="filter" type="search" placeholder="Filter…" />
        <select id="ctl-bib-filter-selection" class="inactive">
          <option value="all" selected>everything</option>
          <option value="conferences">conferences</option>
          <option value="journals">journals</option>
          <option value="books">books</option>
          <option value="other">other</option>
        </select>
      </div>
    </div>
  </header>
  <div class="group" id="ctl-bib-section-no-match">
    <h2>No matches</h2>
  </div>
  {{- range $idx, $group := .items }}
    <div class="group" id="bib-{{ with $group.title }}{{ anchorize . }}{{ else }}section-{{ add $idx 1 }}{{ end }}">
      {{ with $group.title }}<h2>{{ . }}</h2>{{ end }}
      {{ with $group.foreword -}}
        <div class="foreword">{{ markdownify . }}</div>
      {{- end }}
      {{ partial "bib/list.html" (dict "items" $group.items "peoplepages" $peoplepages "Page" $.Page "Site" $.Site) }}
    </div>
  {{- end }}
</section>
