{{- with .entry -}}
  <span class="title">
    {{- $id := .id | urlize -}}
    {{- if printf "/publications/%s" $id | $.Page.Site.GetPage -}}
      <a href="/publications/{{ $id }}/">{{ .title }}</a>
    {{- else if printf "static/pub/%s.pdf" $id | fileExists -}}
      <a href="/pub/{{ $id }}.pdf">{{ .title }}</a>
    {{- else if isset . "url" -}}
      <a href="{{ .url }}"{{ if (urls.Parse .url).Scheme }} target="_blank" rel="noopener"{{ end }}>{{ .title }}</a>
    {{- else -}}
      {{- .title -}}
    {{- end -}}
  </span>
{{- end -}}
