<footer class="wrap">
  <div class="copyright">
    &copy;&nbsp;2014&hairsp;–&hairsp;{{ "" -}}
    <span title="{{ now | dateFormat .Site.Params.datedaytimefmt }}">
      {{- now | dateFormat "2006" -}}
    </span>
    {{- with .Site.Params.copyright -}}
      {{- " " -}}
      {{- if isset . "url" -}}
        <a href="{{ .url }}">{{ .title }}</a>
      {{- else -}}
        {{- .title -}}
      {{- end -}}
    {{- end -}}
  </div>
  <div class="logo">
    <a href="https://www.ics.uci.edu" target="_blank">
      <img src="/img/logo/anteater.png" alt="UCI ICS">
    </a>
  </div>
  {{- with .Site.Params.contact }}
    <div class="contact">
      Contact:
      <a class="email" href="mailto:{{ .name }} <{{ .email }}>">
        {{- .name | default .email -}}
      </a>
    </div>
  {{- end }}
</footer>

</body>
</html>
