<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <meta name="referrer" content="no-referrer">

  {{- with .Site.Params.metadata }}
    {{ with .themecolor }}<meta name="theme-color" content="{{ . }}">{{ end }}
    {{- with .icon }}
      <link rel="icon" sizes="{{ .size }}x{{ .size }}" href="{{ .url | relURL }}">
      <link rel="apple-touch-icon" href="{{ .url | relURL }}">
    {{- end }}

    {{ with .author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .description }}<meta name="description" content="{{ . }}">{{ end }}
  {{- end }}

  <title>
    {{- if not .IsHome -}}
      {{- if eq .Kind "section" -}}
        {{- .Section | humanize | title -}}
      {{- else if and (eq .Kind "page") (eq .Section "people") -}}
        {{- partial "people/displayname.html" (dict "name" .Params.name) -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
      {{- " — " -}}
    {{- end -}}
    {{- .Site.Title -}}
  </title>

  <META NAME="ROBOTS" CONTENT="INDEX,FOLLOW">
  <meta name="googlebot" content="index,follow">

  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">

  {{- $css := slice }}
  {{- $css = $css | append (resources.Get "css/fonts.css") }}
  {{- $css = $css | append (resources.Get "css/main.css") }}
  {{- $css = $css | resources.Concat "css/all.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

  {{- if isset .Params "bibliography" }}
    {{- $js := resources.Get "js/bib.js" | minify | fingerprint }}
    <script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  {{- end }}
</head>

<body>
{{ partial "navbar.html" . }}
