<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <meta name="referrer" content="no-referrer">

  <meta name="theme-color" content="#404040">
  <link rel="icon" sizes="192x192" href="/img/logo/icon-192.png">
  <link rel="apple-touch-icon" href="/img/logo/icon-192.png">

  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  <title>
    {{- if not .IsHome -}}
      {{- if eq .Kind "section" -}}
        {{- .Section | humanize | title -}}
      {{- else if and (eq .Kind "page") (eq .Section "people") -}}
        {{- .Params.name -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
      {{- " — " -}}
    {{- end -}}
    {{- .Site.Title -}}
  </title>

  <META NAME="ROBOTS" CONTENT="INDEX,FOLLOW">
  <meta name="googlebot" content="index,follow">

  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">

  {{- $css := slice }}
  {{- $css = $css | append (resources.Get "css/fonts.css") }}
  {{- $css = $css | append (resources.Get "css/main.css") }}
  {{- $css = $css | resources.Concat "css/all.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

  {{- if isset .Params "bibliography" }}
    {{- $js := resources.Get "js/bib.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  {{- end }}
</head>

<body>
{{ partial "navbar.html" . }}
