{{- with .Site.Params.header -}}
  <header>
    <div class="wrap">
      {{- with .title -}}
        <div class="title"><a href="/">{{ . }}</a></div>
      {{- end -}}
      {{- if .menu -}}
        <nav>
          {{- range index $.Site.Menus .menu -}}
            <span>
              {{- .Pre -}}
              {{- $slashensuredurl := .URL | printf "%s/" | relURL -}}
              {{- $isactive := hasPrefix $.RelPermalink $slashensuredurl -}}
              <a href="{{ .URL }}"{{ if $isactive }} class="active"{{ end }}{{ if (urls.Parse .URL).Scheme }} target="_blank" rel="noopener"{{ end }}>{{ .Name }}</a>
              {{- .Post -}}
            </span>
          {{- end -}}
        </nav>
      {{- end -}}
    </div>
  </header>
{{- end -}}
