<header>
  <div class="wrap">
    <div class="logo">
      <a class="site-title" href="/">{{ .Site.Title }}</a>
    </div>
    <nav>
      {{- range .Site.Menus.main -}}
        <span>
          {{- .Pre -}}
          {{- $slashensuredurl := .URL | printf "%s/" | relURL -}}
          {{- $isactive := hasPrefix $.RelPermalink $slashensuredurl -}}
          <a href="{{ .URL }}"{{ if $isactive }} class="active"{{ end }}>{{ .Name }}</a>
          {{- .Post -}}
        </span>
      {{- end -}}
    </nav>
  </div>
</header>
