{{ partial "header.html" . }}
<main class="wrap">
  <article class="home">
    <section id="about">
      {{ .Content }}
    </section>

    {{- if $updates := where .Site.RegularPages "Section" "updates" }}
      <section id="updates">
        <h1 class="page-title">Recent Activity</h1>
        <ul class="updates">
          {{- range first 10 $updates.ByDate.Reverse }}
            {{ .Render "li" }}
          {{- end }}
        </ul>
      </section>
    {{- end }}
  </article>
</main>
{{ partial "footer.html" . }}
