{{ partial "header.html" . }}
<main class="wrap">
  <article class="home">
    <section id="about">
      {{ .Content }}
    </section>

    {{- $updates := where .Data.Pages.ByDate "Section" "updates" }}
    {{- if $updates }}
      <section id="updates">
        <h1 class="page-title">Recent Activity</h1>
        <ul class="updates">
          {{- range first 10 $updates }}
            {{ .Render "li" }}
          {{- end }}
        </ul>
      </section>
    {{- end }}
  </article>
</main>
{{ partial "footer.html" . }}
