{{ partial "header.html" . }}
<main class="wrap">
  <article class="update">
    <header>
      <h1 class="page-title">{{ .Title }}</h1>
      <h2 class="meta">{{ .Date.Format .Site.Params.datedayfmt }}</h2>
    </header>

    <section class="content">
      {{ .Content }}
    </section>

    <footer>
      {{- with .Params.project }}
        {{- $pages := where $.Site.RegularPages "Section" "updates" }}
        {{- $pages = where $pages "Params.project" "==" . }}
        {{- $pages = where $pages "File.UniqueID" "!=" $.File.UniqueID }}
        {{- with where $pages "Params.date" "<=" $.Params.date }}
          <section class="updates-before">
            <h1>Previously in This Project</h1>
            <ul class="updates">
              {{- range .ByDate.Reverse }}
                {{ .Render "li" }}
              {{- end }}
            </ul>
          </section>
        {{- end }}
        {{- with where $pages "Params.date" ">" $.Params.date }}
          <section class="updates-after">
            <h1>Later in This Project</h1>
            <ul class="updates">
              {{- range .ByDate }}
                {{ .Render "li" }}
              {{- end }}
            </ul>
          </section>
        {{- end }}
      {{- end }}
    </footer>
  </article>
</main>
{{ partial "footer.html" . }}
