{{- if $bibid := .entry.id | urlize -}}
  {{- $attachments := partial "util/itemize" $.params.attachments -}}
  {{- /* Skip the link to the manuscript if the title already links to it (see the bib/entry/title.html partial). */ -}}
  {{- if not (printf "/publications/%s" $bibid | $.Site.GetPage) -}}
    {{- $attachments = where $attachments "index" "!=" "manuscript" -}}
  {{- end -}}

  {{- range $att := sort $attachments "item.weight" -}}
    {{- if $path := partial "bib/entry/getattachmentpath" (dict "key" $bibid "attachment" $att.index "params" $.params) -}}
      <span class="{{ $.class }} {{ $att.index | htmlEscape }}">{{ "" -}}
        <a href="{{ $path | relURL }}">
          {{- with $att.item.label }}{{ . }}{{ else }}{{ $att.index | humanize | title }}{{ end -}}
        </a>{{ "" -}}
      </span>
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with .entry.codeurl -}}
  <span class="{{ $.class }} coderef"><a href="{{ . }}" target="_blank" rel="noopener">Code</a></span>
{{- end -}}

{{- $puburl := "" -}}
{{- if $pubid := .entry.doi | urlize -}}
  {{- with $.params.urltemplates.doi -}}
    {{- $puburl = printf . $pubid -}}
  {{- end -}}
{{- else if $pubid := .entry.eprint | urlize -}}
  {{- /* For arXiv compatibility, allow the "archiveprefix" alias for "eprinttype". */ -}}
  {{- $eprinttype := $.entry.eprinttype | default $.entry.archiveprefix | lower -}}
  {{- with index $.params "urltemplates" "eprint" $eprinttype -}}
    {{- $puburl = printf . $pubid -}}
  {{- end -}}
{{- end -}}
{{- with $puburl -}}
  <span class="{{ $.class }} pubref"><a href="{{ . }}" target="_blank" rel="noopener">Release</a></span>
{{- end -}}

{{- with .entry.abstract -}}
  <span class="{{ $.class }} abstract"><a role="button" class="collapsed">Abstract</a></span>
{{- end -}}

{{- with .entry.bibtex -}}
  <span class="{{ $.class }} bibtex"><a role="button" class="collapsed">BibTeX</a></span>
{{- end -}}
