{{- $citemode := eq .mode "citation" -}}
{{- $len := len .names -}}
{{- $lastidx := sub $len 1 -}}
{{- $hasetal := gt $len .params.etalcutoff -}}
{{- $etallabel := "et&nbsp;al." | safeHTML -}}
{{- $midnamespace := cond $.params.fullnames " " "&nbsp;" | safeHTML -}}

{{- range $idx, $author := .names -}}
  {{- $nameid := partial "bib/getnameid" (dict "name" $author "params" $.params) -}}
  {{- $fullname := partial "bib/getfullname" (dict "name" $author "params" $.params) -}}
  {{- $isothers := and (eq $author.last $fullname) (eq $fullname "others") -}}
  {{- $insideetal := and $hasetal (ge $idx $.params.etalkeep) -}}

  {{- if or (not $insideetal) (and $insideetal (not $citemode)) -}}
    {{- if gt $idx 0 -}}
      {{- if eq $idx $lastidx -}}
        {{- if gt $lastidx 1 }}{{ "," }}{{ end -}}
        {{- if not $isothers }}{{ " and" }}{{ end -}}
      {{- else -}}
        {{- "," -}}
      {{- end -}}
      {{- " " -}}
    {{- end -}}
    {{- if and (not $citemode) $hasetal (eq $idx $.params.etalkeep) -}}
      <span class="etal">{{ "" -}}
        <a role="button">{{ $etallabel }}</a>{{ "" -}}
        <span class="content">
    {{- end -}}

    <span class="name"{{ if and (not $citemode) (not $.params.fullnames) }} title="{{ $fullname }}"{{ end }}>
      {{- $authorurl := "" -}}
      {{- if and (not $citemode) (not $isothers) -}}
        {{- $isexternal := false -}}
        {{- with index $.peopleindex.internal $nameid -}}
          {{- $authorurl = .RelPermalink -}}
        {{- else -}}
          {{- with index $.peopleindex.external $nameid -}}
            {{- $authorurl = .url -}}
            {{- $isexternal = true -}}
          {{- end -}}
        {{- end -}}
        {{- with $authorurl -}}
          <a href="{{ . }}" class="subtle"{{ if $isexternal }} target="_blank" rel="noopener"{{ end }}>
        {{- end -}}
      {{- end -}}

      {{- $first := "" -}}
      {{- $middle := "" -}}
      {{- if and (or $author.first $author.middle) (or (not $citemode) $.params.citefirstnames) -}}
        {{- $first = partial "bib/middlename.html" (dict "name" $author.first "fullnames" $.params.fullnames "sep" $midnamespace) -}}
        {{- $middle = partial "bib/middlename.html" (dict "name" $author.middle "fullnames" $.params.fullnames "sep" $midnamespace) -}}
      {{- end -}}
      {{- if $isothers -}}
        {{- $etallabel -}}
      {{- else -}}
        {{- $s := $midnamespace -}}
        {{- partial "util/glueup" (slice $first $s $middle $s $author.last (print "," $s) $author.lineage) -}}
      {{- end -}}

      {{- if $authorurl }}</a>{{ end -}}
    </span>
  {{- end -}}
{{- end -}}

{{- if $hasetal -}}
  {{- if $citemode -}}
    {{- ", " }}<span class="etal name">{{ $etallabel }}</span>
  {{- else -}}
      </span>{{- /* class="content" */ -}}
    </span>{{- /* class="etal" */ -}}
  {{- end -}}
{{- end -}}
