{{ partial "header.html" . }}
<main class="wrap">
  <article class="people">
    <header>
      <h1 class="page-title">People</h1>
    </header>
    <section class="content">
      {{- $nameparts := sort .Site.Params.bibliography.nameparts "priority" "desc" -}}
      {{- $roles := index .Site.Params "people" "roles" | partial "util/itemize" -}}
      {{- range $role := sort $roles "item.weight" }}
        {{- if $pages := where $.RegularPages "Params.role" $role.index }}
          <h1 id="{{ $role.index | urlize }}">{{ $role.item.title }}</h1>
          <ul class="people">
            {{- range $nameparts }}
              {{- $pages = $pages.ByParam (print "name." .key) }}
            {{- end }}
            {{- $pages = $pages.ByParam "yearjoined" }}
            {{- if hasPrefix $role.index "alumnus" }}
              {{- $pages = ($pages.ByParam "yeargraduated").Reverse }}
            {{- end }}
            {{- range $pages }}
              {{ .Render "li" }}
            {{- end }}
          </ul>
        {{- end }}
      {{- end }}
      {{ .Content }}
    </section>
  </article>
</main>
{{ partial "footer.html" . }}
