{{ partial "header.html" . }}
<main class="wrap">
  <article class="people">
    <header>
      <h1 class="page-title">People</h1>
    </header>
    <section class="content">
      {{- range $role := .Site.Params.people.roles }}
        {{- $pages := where $.Pages "Params.role" $role.id }}
        {{- if $pages }}
          <h1>{{ $role.plural }}</h1>
          <ul class="people">
          {{- $pages = sort $pages "Params.name" }}
          {{- $pages = sort $pages "Params.yearjoined" }}
          {{- if hasPrefix $role.id "alumnus" }}
            {{- $pages = sort $pages "Params.yeargraduated" "desc" }}
          {{- end }}
          {{- range $pages }}
            {{ .Render "li" }}
          {{- end }}
          </ul>
        {{- end }}
      {{- end }}
      {{ .Content }}
    </section>
  </article>
</main>
{{ partial "footer.html" . }}
